.mybreadcrumb{
  position: absolute;
  left: 45px;
  top: -52px;
  font-size: 16px;
  color: white;
  box-shadow:0 0 0 0 #fff !important;
}
.myboxshadow{
  box-shadow: 0px 1px 0px 2px #d9d9d9;
}
.breadCrumb .el-breadcrumb__item:last-child .el-breadcrumb__inner{
  color:#ddd !important;
}
.breadCrumb .el-breadcrumb__inner{
  color:white !important;
}
.mysearch{
  font-size: 14px;
  margin-bottom: 5px;
}
.mysearch .red{
  color: red;
}
.mypagenation{
  float: right;
  margin-top: 20px;
}
/* 以下代码是滚动条代码 */
.is-scrolling-none::-webkit-scrollbar {
  width: 0px;
}
.is-scrolling-none{
  background-color: rgb(240, 240, 240);
}
.clearfix::after, .clearfix::before{
  display: table;
  content: "";
  clear: both;
}