.mybreadcrumb{
  position: absolute;
  left: 45px;
  top: -52px;
  font-size: 16px;
  color: white;
  box-shadow:0 0 0 0 #fff !important;
}
.breadCrumb .el-breadcrumb__item:last-child .el-breadcrumb__inner{
  color:#ddd !important;
}
.breadCrumb .el-breadcrumb__inner{
  color:white !important;
}
.mysearch{
  font-size: 14px;
  margin-bottom: 5px;
}
.mysearch .red{
  color: red;
}
.mypagenation{
  float: right;
  margin-top: 20px;
}

body{
  scrollbar-3dlight-color:#D4D0C8; /*- 最外左 -*/
  scrollbar-highlight-color:#fff; /*- 左二 -*/
  scrollbar-face-color:#E4E4E4; /*- 面子 -*/
  scrollbar-arrow-color:#666; /*- 箭头 -*/
  scrollbar-shadow-color:#808080; /*- 右二 -*/
  scrollbar-darkshadow-color:#D7DCE0; /*- 右一 -*/
  scrollbar-base-color:#D7DCE0; /*- 基色 -*/
  scrollbar-track-color:red;/*- 滑道 -*/
}
.is-scrolling-none::-webkit-scrollbar {
  width: 0px;
}
.is-scrolling-none{
  background-color: rgb(240, 240, 240);
}